# Create Database Using Jupyter Notebook

In [1]:
#import library
import pandas as pd
import sqlite3
import csv

pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

## Exploring the data

In [2]:
#read data and check the data
data_game_log = pd.read_csv('game_log.csv', low_memory=False)
print(data_game_log.shape)
data_game_log.head()

(171907, 161)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [3]:
data_game_log.tail()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
171902,20161002,0,Sun,MIL,NL,162,COL,NL,162,6,4,60.0,D,NaN,NaN,NaN,DEN02,27762.0,203.0,0200000202,1100100010,39.0,10.0,4.0,1.0,2.0,6.0,0.0,0.0,1.0,4.0,0.0,12.0,2.0,1.0,0.0,0.0,8.0,7.0,4.0,4.0,1.0,0.0,30.0,12.0,1.0,0.0,0.0,0.0,41.0,13.0,4.0,0.0,1.0,4.0,1.0,0.0,1.0,3.0,0.0,11.0,0.0,1.0,0.0,0.0,12.0,5.0,6.0,6.0,0.0,0.0,30.0,13.0,0.0,0.0,0.0,0.0,barrs901,Scott Barry,woodt901,Tom Woodring,randt901,Tony Randazzo,ortir901,Roberto Ortiz,NaN,NaN,NaN,NaN,counc001,Craig Counsell,weisw001,Walt Weiss,thort001,Tyler Thornburg,rusic001,Chris Rusin,knebc001,Corey Knebel,susaa001,Andrew Susac,cravt001,Tyler Cravy,marqg001,German Marquez,villj001,Jonathan Villar,5.0,genns001,Scooter Gennett,4.0,cartc002,Chris Carter,3.0,santd002,Domingo Santana,9.0,pereh001,Hernan Perez,8.0,arcio002,Orlando Arcia,6.0,susaa001,Andrew Susac,2.0,elmoj001,Jake Elmore,7.0,cravt001,Tyler Cravy,1.0,blacc001,Charlie Blackmon,8.0,dahld001,David Dahl,7.0,arenn001,Nolan Arenado,5.0,gonzc001,Carlos Gonzalez,9.0,murpt002,Tom Murphy,2.0,pattj005,Jordan Patterson,3.0,valap001,Pat Valaika,4.0,adamc001,Cristhian Adames,6.0,marqg001,German Marquez,1.0,NaN,Y
171903,20161002,0,Sun,NYN,NL,162,PHI,NL,162,2,5,51.0,D,NaN,NaN,NaN,PHI13,36935.0,159.0,000001100,00100031x,33.0,8.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,9.0,1.0,1.0,1.0,0.0,6.0,6.0,3.0,3.0,0.0,0.0,24.0,12.0,3.0,1.0,2.0,0.0,33.0,10.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,0.0,2.0,0.0,7.0,5.0,2.0,2.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,barkl901,Lance Barksdale,herna901,Angel Hernandez,barrt901,Ted Barrett,littw901,Will Little,NaN,NaN,NaN,NaN,collt801,Terry Collins,mackp101,Pete Mackanin,murrc002,Colton Murray,goede001,Erik Goeddel,nerih001,Hector Neris,hernc005,Cesar Hernandez,ynoag001,Gabriel Ynoa,eickj001,Jerad Eickhoff,granc001,Curtis Granderson,8.0,cabra002,Asdrubal Cabrera,6.0,brucj001,Jay Bruce,9.0,dudal001,Lucas Duda,3.0,johnk003,Kelly Johnson,4.0,confm001,Michael Conforto,7.0,campe001,Eric Campbell,5.0,plawk001,Kevin Plawecki,2.0,ynoag001,Gabriel Ynoa,1.0,hernc005,Cesar Hernandez,4.0,parej002,Jimmy Paredes,7.0,herro001,Odubel Herrera,8.0,franm004,Maikel Franco,5.0,howar001,Ryan Howard,3.0,ruppc001,Cameron Rupp,2.0,blana001,Andres Blanco,6.0,altha001,Aaron Altherr,9.0,eickj001,Jerad Eickhoff,1.0,NaN,Y
171904,20161002,0,Sun,LAN,NL,162,SFN,NL,162,1,7,51.0,D,NaN,NaN,NaN,SFO03,41445.0,184.0,000100000,23000002x,30.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,4.0,7.0,7.0,7.0,0.0,0.0,24.0,5.0,1.0,0.0,0.0,0.0,39.0,16.0,3.0,1.0,0.0,7.0,0.0,0.0,0.0,4.0,1.0,11.0,2.0,1.0,0.0,0.0,12.0,2.0,1.0,1.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,knigb901,Brian Knight,westj901,Joe West,fleta901,Andy Fletcher,danlk901,Kerwin Danley,NaN,NaN,NaN,NaN,robed001,Dave Roberts,bochb002,Bruce Bochy,moorm003,Matt Moore,maedk001,Kenta Maeda,NaN,NaN,poseb001,Buster Posey,maedk001,Kenta Maeda,moorm003,Matt Moore,kendh001,Howie Kendrick,7.0,turnj001,Justin Turner,5.0,seagc001,Corey Seager,6.0,puigy001,Yasiel Puig,9.0,gonza003,Adrian Gonzalez,3.0,grany001,Yasmani Grandal,2.0,pedej001,Joc Pederson,8.0,utlec001,Chase Utley,4.0,maedk001,Kenta Maeda,1.0,spand001,Denard Span,8.0,beltb001,Brandon Belt,3.0,poseb001,Buster Posey,2.0,pench001,Hunter Pence,9.0,crawb001,Brandon Crawford,6.0,pagaa001,Angel Pagan,7.0,panij002,Joe Panik,4.0,gillc001,Conor Gillaspie,5.0,moorm003,Matt Moore,1.0,NaN,Y
171905,20161002,0,Sun,PIT,NL,162,SLN,NL,162,4,10,51.0,D,NaN,NaN,NaN,STL10,44615.0,192.0,000020200,00100360x,35.0,9.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,4.0,0.0,11.0,0.0,1.0,0.0,0.0,8.0,6.0,8.0,8.0,0.0,0.0,24.0,2.0,2.0,0.0,0.0,0.0,36.0,12.0,2.0,0.0,1.0,10.0,0.0,2.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,8.0,3.0,4.0,4.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,cuzzp901,Phil Cuzzi,ticht901,Todd Tichenor,vanol901,Larry Vanover,marqa901,Alfonso Marquez,NaN,NaN,NaN,NaN,hurdc001,Clint Hurdle,mathm001,Mike Matheny,broxj001,Jonathan Broxton,nicaj001,Juan Nicasio,NaN,NaN,piscs001,Stephen Piscotty,voger001,Ryan Vogelsong,waina001,Adam Wainwright,jasoj001,John Jaso,3.0,polag001,Gregory Polanco,9.0,mccua001,Andrew McCutchen,8.0,kangj001,Jung Ho Kang,5.0,joycm001,Matt Joyce,7.0,hansa001,Alen Hanson,4.0,fryee001,Eric Fryer,2.0,florp001,Pedro Florimon,6.0,voger001,Ryan Vogelsong,1.0,carpm002,Matt Carpenter,3.0,diaza003,Aledmys Diaz,6.0,moliy001,Yadier Molina,2.0,piscs001,Stephen Piscotty,9.0,peraj001,Jhonny Peralta,5.0,mossb001,Brandon Moss,7.0,gyorj001,Jedd Gyorko,4.0,gricr001,Randal Grichuk,8.0,waina001,Adam Wainwright,1.0,NaN,Y
171906,20161002,0,Sun,MIA,NL,161,WAS,NL,162,7,10,51.0,D,NaN,NaN,NaN,WAS11,28730.0,216.0,000230020,03023002x,38.0,14.0,1.0,1.0,2.0,7.0,1.0,0.0,0.0,3.0,2.0,10.0,1.0,1.0,1.0,0.0,8.0,7.0,10.0,10.0,1.0,0.0,24.0,11.0,0.0,0.0,1.0,0.0,30.0,10.0,2.0,0.0,1.0,10.0,1.0,1.0,1.0,8.0,0.0,3.0,2.0,0.0,1.0,0.0,7.0,6.0,7.0,7.0,1.0,0.0,27.0,11.0,0.0,0.0,1.0,0.0,tumpj901,John Tumpane,porta901,Alan Porter,onorb901,Brian O'Nora,kellj901,Jeff Kellogg,NaN,NaN,NaN,NaN,mattd001,Don Mattingly,baked002,Dusty Baker,schem001,Max Scherzer,brica001,Austin Brice,melam001,Mark Melancon,difow001,Wilmer Difo,koeht001,Tom Koehler,schem001,Max Scherzer,gordd002,Dee Gordon,4.0,telit001,Tomas Telis,2.0,pradm001,Martin Prado,5.0,yelic001,Christian Yelich,8.0,bourj002,Justin Bour,3.0,scrux001,Xavier Scruggs,7.0,hoodd001,Destin Hood,9.0,hecha001,Adeiny Hechavarria,6.0,koeht001,Tom Koehler,1.0,turnt001,Trea Turner,8.0,reveb001,Ben Revere,7.0,harpb003,Bryce Harper,9.0,zimmr001,Ryan Zimmerman,3.0,drews001,Stephen Drew,5.0,difow001,Wilmer Difo,4.0,espid001,Danny Espinosa,6.0,lobaj001,Jose Lobaton,2.0,schem001,Max Scherzer,1.0,NaN,Y

ini sepertinya merupakan data mengenai 170 000 pertandingan olahraga baseball dari tahun 1800 sampai tahun 2016. dimana setiap row dalam dataset menunjukkan setiap pertandingan dalam rentan waktu tersebut.

secara garis besar data tersebut berisi mengenai:
1. tanggal, hari dan waktu pertandingan baseball
2. jumlah game atau jumlah babak dalam game pada waktu atau pertandingan tersebut.
3. team yang bertanding, termasuk siapa tim tamu dan siapa tim tuan rumah
4. lokasi pertandingan dan liga penyelenggaranya 
5. rekaman jalannya pertandingan, termasuk babak, total waktu pertandingan, adanya protes atau tidak, skor pertandingan dan sebagainya
6. rekaman mengenai para pemain yang bertanding pada waktu itu dan lain-lain,

penjelasan mengenai data diatas dapat diakses dengan game_log_fields.txt

In [4]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


### data park

In [5]:
#check data park
data_park_codes = pd.read_csv('park_codes.csv')

print(data_park_codes.shape)
data_park_codes.head()

(252, 9)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN

In [6]:
data_park_codes.tail()

,park_id,name,aka,city,state,start,end,league,notes
247,WIL02,BB&T Ballpark at Bowman Field,NaN,Wiliamsport,PA,08/20/2017,08/20/2017,NL,PIT
248,WNY01,West New York Field Club Grounds,NaN,West New York,NJ,09/11/1898,09/17/1899,NL,"BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99"
249,WOR01,Agricultural County Fair Grounds I,NaN,Worcester,MA,05/01/1880,09/29/1882,NL,NaN
250,WOR02,Agricultural County Fair Grounds II,NaN,Worcester,MA,08/17/1887,08/17/1887,NL,1 BSN game
251,WOR03,Worcester Driving Park Grounds,NaN,Worcester,MA,10/30/1874,10/30/1874,NaN,1 BS1 game

data diatas merupakan penjelasan lebih rinci mengenai lokasi pertandingan atau stadium pertandingan baseball,
terlihat ada beberapa informasi mengenai nama stadium, lokasi dan distriknya, tanggal dibuka dan ditutupnya, dan nama liga baseballnya dll, selain itu data tesbut dapat dihubungkan dengan data log_game melalui park_id,

### data person

In [7]:
data_person_codes = pd.read_csv('person_codes.csv')
print(data_person_codes.shape)
data_person_codes.head()

(20494, 7)

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

In [8]:
data_person_codes.tail()

             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

data diatas merupakan data mengenai para pemain baseball, meliputi nam, debut pemain, termasuk debutnya menjadi pelatih ketika pemain tersebut memilih menjadi pelatih setelah pensiun, termasuk debut ump, data ini juga dapat dihubungkan data data_log melalui column id di person_codes dataset

### data team

In [9]:
data_team_codes = pd.read_csv('team_codes.csv')
print(data_team_codes.shape)
data_team_codes.head()

(150, 8)

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1

In [10]:
data_team_codes.tail()

    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

data diatas menjelaskan secara mengenai team yang bermain dalam setiap liga pda kurun waktu 1800 sampai 2016, setiap row mewakili data satu team, meiputi di liga mana mereka bermain, kota kandang mereka, nama alias temasuk kapan berdiri dan kapan ditutup.

data memiliki id yang dapat di hubungkan dengan data log

### Defensive position

dalam data_log, defensive position direpresentasikan dalam angka 1-10, pada [artikel ini ](http://probaseballinsider.com/baseball-instruction/baseball-basics/baseball-basics-positions/) penjelasan angka  tersebut adalah sebagai berikut:

1. Pitcher (P)
2. Catcher (C)
3. 1st Base (1B)
4. 2nd Base (2B)
5. 3rd Base (3B)
6. Shortstop (SS)
7. Left Field (LF)
8. Center Field (CF)
9. Right Field (RF)

### Leagues


menurut [wikipedia](https://en.wikipedia.org/wiki/Major_League_Baseball) terdapat dua liga baseball di amerika, yaitu america league (AM) dan national League(NL) untuk lebih jelasnya kita bisa melihat melalui data_log

In [11]:
data_game_log['h_league'].value_counts(dropna=False)

NL     88867
AL     74712
AA      5039
FL      1243
NaN     1086
PL       532
UA       428
Name: h_league, dtype: int64

ternyata ada lebih dari 2 liga, kelihatannya ada beberapa liga yang sudah tidak ada lagi, untuk melihat periode liga dan mana yang masih aktif, kita bisa melakukan beberap analysis

In [12]:
def year_league(league):
    data_league = data_game_log[data_game_log["h_league"] == league]
    years_min = str(data_league["date"].min())[0:4]
    years_max = str(data_league["date"].max())[0:4]
    print("league {0} start from {1} to {2}".format(league, years_min, years_max))
    
    
for c in data_game_log["h_league"].dropna().unique():
    year_league(c)

league NL start from 1876 to 2016
league AA start from 1882 to 1891
league UA start from 1884 to 1884
league PL start from 1890 to 1890
league AL start from 1901 to 2016
league FL start from 1914 to 1915

kita mendapatkan data mengenai liga  dan tahunnya, setelah seacrching , kita menemukan informasi setiap liganya yaitu:

1. NL : National league
2. AL : American League
3. AA : [American Association](https://en.wikipedia.org/wiki/American_Association_%2819th_century%29)
4. `FL`:  [Federal League](https://en.wikipedia.org/wiki/Federal_League)
5. `PL`:  [Players League](https://en.wikipedia.org/wiki/Players%27_League)
6. `UA`:  [Union Association](https://en.wikipedia.org/wiki/Union_Association)

selain itu ada sekitar 1000 data yang tidak memiliki info mengenai liganya

## Importing data into sqlite library

In [13]:
#cretae run_command and run_query
db = 'mlb.db'
def run_command(q):
    with sqlite3.connect(db) as conn:
        conn.execute('PRAGMA foreign_key = ON;')
        conn.isolation_level = None
        conn.execute(q)
        
def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q, conn)
    
#def show_table, untuk menunjukkan table apa saja di database
def show_table():
    q = '''SELECT
                name,
                type
            FROM sqlite_master
            WHERE type IN ("table", "view");
        '''
    return run_query(q)

data dari jupyter notebook dirubah dan dimasukkan ke dalam database sql

In [15]:
#create dictionary
table = {
    "game_log": data_game_log,
    "park_codes": data_park_codes,
    "person_codes": data_person_codes,
    "team_codes": data_team_codes,
}

#loop setiap dicitonary
with sqlite3.connect(db) as conn:
    for name,data in table.items():
        run_command("DROP TABLE IF EXISTS {};".format(name))
        data.to_sql(name, conn, index=False)

In [16]:
show_table()

                 name   type
0   person_appearance  table
1              person  table
2                park  table
3             leagues  table
4     appearance_type  table
5                team  table
6                game  table
7     team_appearance  table
8        person_codes  table
9          park_codes  table
10         team_codes  table
11           game_log  table

karena game_log tidak mempunyai primary key, kita buat primary key khusus untuk game_log, primary key bterdiri atas tanggal game, lokasi stadion dan jumlah pertandingan

In [17]:
#masukkan ke dalam table column game_id
q1 = '''ALTER TABLE game_log
        ADD game_id TEXT;'''

try:
    run_command(q1)
except:
    pass

#column baru diisi dengan spesifikasi yang telah dibuat
q2 = '''UPDATE game_log
        SET game_id = date || h_name || number_of_game
        WHERE game_id IS NULL;'''

run_command(q2)

#check the data
q3 = '''SELECT 
            game_id,
            h_name,
            date,
            number_of_game
        FROM game_log
        LIMIT 100;'''

run_query(q3)

         game_id h_name      date  number_of_game
0   18710504FW10    FW1  18710504               0
1   18710505WS30    WS3  18710505               0
2   18710506RC10    RC1  18710506               0
3   18710508CH10    CH1  18710508               0
4   18710509TRO0    TRO  18710509               0
5   18710511CL10    CL1  18710511               0
6   18710513CL10    CL1  18710513               0
7   18710513FW10    FW1  18710513               0
8   18710515FW10    FW1  18710515               0
9   18710516BS10    BS1  18710516               0
10  18710516CH10    CH1  18710516               0
11  18710517RC10    RC1  18710517               0
12  18710518TRO0    TRO  18710518               0
13  18710519CH10    CH1  18710519               0
14  18710520BS10    BS1  18710520               0
15  18710520CL10    CL1  18710520               0
16  18710522CH10    CH1  18710522               0
17  18710522TRO0    TRO  18710522               0
18  18710523FW10    FW1  18710523               0
19  18710524BS10    BS1  18710524               0
20  18710524CL10    CL1  18710524               0
21  18710525NY20    NY2  18710525               0
22  18710526TRO0    TRO  18710526               0
23  18710526CL10    CL1  18710526               0
24  18710527BS10    BS1  18710527               0
25  18710529BS10    BS1  18710529               0
26  18710530BS10    BS1  18710530               0
27  18710601NY20    NY2  18710601               0
28  18710602BS10    BS1  18710602               0
29  18710602WS30    WS3  18710602               0
30  18710603PH10    PH1  18710603               0
31  18710605NY20    NY2  18710605               0
32  18710605PH10    PH1  18710605               0
33  18710608PH10    PH1  18710608               0
34  18710612TRO0    TRO  18710612               0
35  18710613WS30    WS3  18710613               0
36  18710614BS10    BS1  18710614               0
37  18710614NY20    NY2  18710614               0
38  18710615PH10    PH1  18710615               0
39  18710617WS30    WS3  18710617               0
40  18710617BS10    BS1  18710617               0
41  18710619TRO0    TRO  18710619               0
42  18710619NY20    NY2  18710619               0
43  18710620PH10    PH1  18710620               0
44  18710621BS10    BS1  18710621               0
45  18710621PH10    PH1  18710621               0
46  18710622NY20    NY2  18710622               0
47  18710624CH10    CH1  18710624               0
48  18710626NY20    NY2  18710626               0
49  18710626WS30    WS3  18710626               0
50  18710626PH10    PH1  18710626               0
51  18710628TRO0    TRO  18710628               0
52  18710628NY20    NY2  18710628               0
53  18710629NY20    NY2  18710629               0
54  18710630CH10    CH1  18710630               0
55  18710701PH10    PH1  18710701               0
56  18710703TRO0    TRO  18710703               0
57  18710704WS30    WS3  18710704               0
58  18710704CH10    CH1  18710704               0
59  18710704PH10    PH1  18710704               0
60  18710706NY20    NY2  18710706               0
61  18710707WS30    WS3  18710707               0
62  18710707CH10    CH1  18710707               0
63  18710708WS30    WS3  18710708               0
64  18710710RC10    RC1  18710710               0
65  18710710WS30    WS3  18710710               0
66  18710712FW10    FW1  18710712               0
67  18710713NY20    NY2  18710713               0
68  18710713CL10    CL1  18710713               0
69  18710714CH10    CH1  18710714               0
70  18710717NY20    NY2  18710717               0
71  18710717RC10    RC1  18710717               0
72  18710720FW10    FW1  18710720               0
73  18710722CL10    CL1  18710722               0
74  18710724CL10    CL1  18710724               0
75  18710726FW10    FW1  18710726               0
76  18710727TRO0    TRO  18710727               0
77  18710728CH10    CH1  18710728               0
78  18710728WS30    WS3  18710728               0
79  18710731RC10    RC1  18710731               0
80  18710801CH10    CH1  18710801               0
81  18710803CL10    CL1  18710803               0
82  18710803RC10    RC1  18710803               0
83  18710803TRO0    TRO  18710803               0
84  18710804WS30    WS3  18710804               0
85  18710805CH10    CH1  18710805               0
86  18710807PH10    PH1  18710807               0
87  18710808RC10    RC1  18710808               0
88  18710808WS30    WS3  18710808               0
89  18710810CH10    CH1  18710810               0
90  18710811FW10    FW1  18710811               0
91  18710816CH10    CH1  18710816               0
92  18710821NY20    NY2  18710821               0
93  18710822NY20    NY2  18710822               0
94  18710825WS30    WS3  18710825               0
95  18710825CL10    CL1  18710825               0
96  18710826WS30    WS3  18710826               0
97  18710828NY20    NY2  18710828               0
98  18710829FW10    FW1  18710829               0
99  18710830PH10    PH1  18710830               0

## Looking for Normalization Opportunities

Ada beberapa kolom di dataframe yang harus dilakukan normalisasi.

### team_codes

1. pada data team_codes, franc_id dan team_id memiliki nilai yang sama, sehingga salah satu harus dihapus
2. daripada dipisah, kolom city dan nickname bisa kita satukan dan membuatnya menjadi satu kolom yaitu full_name, hal ini bisa kita lakukan karena menurut [situs_ini](https://www.baseball-reference.com/about/team_IDs.shtml) nama team baseball merupakan perpaduan antara nama kota dan nickname
3. seq, start dan end kolom sudah dihasilkan game_log dataset

### person_codes
1. kolom last dan first bisa kita gabung menjadi satu kolom, yaitu full_name, mengingat di data_log, nama yang digunakan merupakan data berisi nama lengkap
2. player_debut sudah dihasilkan oleh data_log

### park_codes
1. data state, aka bisa ditinggalkan karena sudah diwakilkan data city dan data nama stadium
2. start, end kolom bisa dihasilkan oleh data log

### data log
1. ada banyak sekali data berisi nama dan nama_id, kita bisa menghapusnya dan menggantinya dengan data di person_code
2. dalam data_log, ada banyak sekali pengulangan dan data mengenai home_team (h) dan visiting_team(v), kita bisa memecahkannya menjadi 2 data, satu untuk setiap team,
3. ada banyak sekali pengulangan data umpire, daripada menjadikannya satu data utuh, empat posisi, kita bisa menjadikannya table yang berbeda, atau menajdikannya beberapa, table, team atau manager
4. ada banyak pengulangan nama dalam data defensive and offensive position, kita bisa menghapusnya dan membuat table lain mengenai nama pemain dan riwayat posisi dan mainnya
5. ada data menganai award, kita bisa menghapusnya dan membuat table baru mengenai award saat pertandingan berdasarkan nama atau umpire nya atau penampilannya

## Planning a Normalized Schema

membuat skema database varu

![Image of database_baseball](database_baseball.png)

## Creating Tables Without Foreign Key Relations

pertama, untuk membuat database bru, kita fokus membuat database yang tidak mempunyai foreign key

### Person

In [18]:
#drop if table exist
drop = '''DROP TABLE IF EXISTS person'''

run_command(drop)

#Create person_table_dataset

#create_person table and make person_id become primary key
person_query = '''CREATE TABLE IF NOT EXISTS person (
                    person_id TEXT PRIMARY KEY,
                    first_name TEXT,
                    last_name TEXT
                );'''
run_command(person_query)

#insert data from person_codes to person
insert_person = '''INSERT OR IGNORE INTO person (person_id, first_name, last_name)
                    SELECT
                        id,
                        first,
                        last
                    FROM person_codes;
                '''
run_command(insert_person)

#check the data
read_person = '''SELECT * FROM person;'''
run_query(read_person).head()

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

### Park

In [19]:
drop = '''DROP TABLE IF EXISTS park'''

run_command(drop)

#create park_table database
park_query = '''CREATE TABLE IF NOT EXISTS park (
                park_id TEXT PRIMARY KEY,
                name TEXT,
                nickname TEXT,
                city TEXT,
                STATE TEXT,
                notes TEXT
            );'''
run_command(park_query)


#insert new data
insert_park = '''INSERT OR IGNORE INTO park
                    SELECT
                        park_id,
                        name,
                        aka,
                        city,
                        state,
                        notes
                    FROM park_codes;
                '''
run_command(insert_park)

#check the data
data_query = '''SELECT * FROM park'''
run_query(data_query).head()

,park_id,name,nickname,city,STATE,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

### leagues

In [20]:
drop = '''DROP TABLE IF EXISTS leagues'''

run_command(drop)

#make league table
league_query = ''' CREATE TABLE IF NOT EXISTS leagues (
                    league_id TEXT PRIMARY_KEY,
                    name TEXT
                );
            '''

run_command(league_query)

#insert data and check the data
leagues = '''INSERT OR IGNORE INTO leagues
                    VALUES
                        ("NL", "National League"),
                        ("AL", "American League"),
                        ("AA", "American Association"),
                        ("FL", "Federal League"),
                        ("PL", "Players League"),
                        ("UA", "Union Association")
                ;'''

run_command(leagues)

data_l_query = '''SELECT * FROM leagues'''
run_query(data_l_query)

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        FL        Federal League
4        PL        Players League
5        UA     Union Association

### appearance_type

In [21]:
#create appearance type table

query_drop = '''DROP Table IF EXISTS appearance_type'''
run_command(query_drop)

appearance_type_query = '''CREATE TABLE appearance_type(
                            appearance_type_id TEXT PRIMARY_KEY,
                            name TEXT,
                            category TEXT
                        );'''

#insert data_appearance to the table
run_command(appearance_type_query)

data_appearance_type = pd.read_csv('appearance_type.csv')
with sqlite3.connect('mlb.db') as conn:
    data_appearance_type.to_sql('appearance_type',
                               conn,
                               if_exists='append',
                               index = False)


#read_data
read_app = '''SELECT * FROM appearance_type'''
run_query(read_app).head()

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense

## Adding The Team and Game Tables

### team

create team table

In [22]:
drop = '''DROP TABLE IF EXISTS team'''

run_command(drop)

#create table team
team_query = '''CREATE TABLE IF NOT EXISTS team (
                team_id TEXT PRIMARY KEY,
                league_id TEXT,
                city TEXT,
                nickname TEXT,
                franch_id TEXT,
                FOREIGN KEY (league_id) REFERENCES leagues(league_id)
            );'''

run_command(team_query)

#insert_data to team table
insert_team = '''INSERT OR IGNORE INTO team
                SELECT
                    team_id,
                    league,
                    city,
                    nickname,
                    franch_id
                FROM team_codes;'''

run_command(insert_team)

#read_data
read_team = '''SELECT * FROM team'''
run_query(read_team).head()

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

### game

In [23]:
drop = '''DROP TABLE IF EXISTS game'''
run_command(drop)


#create table
game_query = '''CREATE TABLE IF NOT EXISTS game (
                game_id TEXT PRIMARY_KEY,
                date TEXT,
                number_of_game INTEGER,
                park_id TEXT,
                length_outs NUMERIC,
                day NUMERIC,
                completion TEXT,
                forfeit TEXT,
                protest TEXT,
                attendance NUMERIC,
                length_minutes NUMERIC,
                additional_info TEXT,
                acquisition_info TEXT,
                FOREIGN KEY (park_id) REFERENCES park(park_id)
            );'''

run_command(game_query)

#insert data from game_log
#data day_night dirubah menjadi day, jika D maka 1, jika N maka 0
insert_game = '''INSERT OR IGNORE INTO game
                    SELECT
                        game_id,
                        date,
                        number_of_game,
                        park_id,
                        length_outs,
                        CASE
                            WHEN day_night = "D" THEN 1 
                            WHEN day_night = "N" THEN 0
                            ELSE NULL
                        END AS day,
                        completion,
                        forefeit,
                        protest,
                        attendance,
                        length_minutes,
                        additional_info,
                        acquisition_info
                    FROM game_log;
              '''
run_command(insert_game)

#read_data
read_game = '''SELECT * FROM game'''
run_query(read_game).head()

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,18710504FW10,18710504,0,FOR01,54.0,1.0,None,None,None,200.0,120.0,None,Y
1,18710505WS30,18710505,0,WAS01,54.0,1.0,None,None,None,5000.0,145.0,HTBF,Y
2,18710506RC10,18710506,0,RCK01,54.0,1.0,None,None,None,1000.0,140.0,None,Y
3,18710508CH10,18710508,0,CHI01,54.0,1.0,None,None,None,5000.0,150.0,None,Y
4,18710509TRO0,18710509,0,TRO01,54.0,1.0,None,None,None,3250.0,145.0,HTBF,Y

## Adding the Team Appearance Table

di game log terdapat 2 team , home and visiting, untuk menjadikannya menjadi satu table kita menggunakan union, untuk data h dan v

In [24]:
drop = '''DROP TABLE IF EXISTS team_appearance'''
run_command(drop)

#create table
team_app_query = '''CREATE TABLE IF NOT EXISTS team_appearance(
                        team_id TEXT,
                        game_id TEXT,
                        home BOOLEAN,
                        league_id TEXT,
                        score INTEGER,
                        line_score TEXT,
                        at_bats NUMERIC,
                        hits NUMERIC,
                        doubles NUMERIC,
                        triples NUMERIC,
                        homeruns NUMERIC,
                        rbi NUMERIC,
                        sacrifice_hits NUMERIC,
                        sacrifice_flies NUMERIC,
                        hit_by_pitch NUMERIC,
                        walks NUMERIC,
                        intentional_walks NUMERIC,
                        strikeouts NUMERIC,
                        stolen_bases NUMERIC,
                        caught_stealing NUMERIC,
                        grounded_into_double NUMERIC,
                        first_catcher_interference NUMERIC,
                        left_on_base NUMERIC,
                        pitchers_used NUMERIC,
                        individual_earned_runs NUMERIC,
                        team_earned_runs NUMERIC,
                        wild_pitches NUMERIC,
                        balks NUMERIC,
                        putouts NUMERIC,
                        assists NUMERIC,
                        errors NUMERIC,
                        passed_balls NUMERIC,
                        double_plays NUMERIC,
                        triple_plays NUMERIC,
                        PRIMARY KEY (team_id, game_id),
                        FOREIGN KEY (team_id) REFERENCES team(team_id),
                        FOREIGN KEY (game_id) REFERENCES game(game_id),
                        FOREIGN KEY (league_id) REFERENCES league(league_id)
                );'''

run_command(team_app_query)

#insert the data
insert_team_app = '''INSERT OR IGNORE INTO team_appearance
                        SELECT
                            h_name,
                            game_id,
                            1 AS home,
                            h_league,
                            h_score,
                            h_line_score,
                            h_at_bats,
                            h_hits,
                            h_doubles,
                            h_triples,
                            h_homeruns,
                            h_rbi,
                            h_sacrifice_hits,
                            h_sacrifice_flies,
                            h_hit_by_pitch,
                            h_walks,
                            h_intentional_walks,
                            h_strikeouts,
                            h_stolen_bases,
                            h_caught_stealing,
                            h_grounded_into_double,
                            h_first_catcher_interference,
                            h_left_on_base,
                            h_pitchers_used,
                            h_individual_earned_runs,
                            h_team_earned_runs,
                            h_wild_pitches,
                            h_balks,
                            h_putouts,
                            h_assists,
                            h_errors,
                            h_passed_balls,
                            h_double_plays,
                            h_triple_plays
                        FROM game_log
                        
                    UNION
                        SELECT
                            v_name,
                            game_id,
                            0 AS home,
                            v_league,
                            v_score,
                            v_line_score,
                            v_at_bats,
                            v_hits,
                            v_doubles,
                            v_triples,
                            v_homeruns,
                            v_rbi,
                            v_sacrifice_hits,
                            v_sacrifice_flies,
                            v_hit_by_pitch,
                            v_walks,
                            v_intentional_walks,
                            v_strikeouts,
                            v_stolen_bases,
                            v_caught_stealing,
                            v_grounded_into_double,
                            v_first_catcher_interference,
                            v_left_on_base,
                            v_pitchers_used,
                            v_individual_earned_runs,
                            v_team_earned_runs,
                            v_wild_pitches,
                            v_balks,
                            v_putouts,
                            v_assists,
                            v_errors,
                            v_passed_balls,
                            v_double_plays,
                            v_triple_plays
                        FROM game_log;
                            '''

run_command(insert_team_app)
\
#check the data
read_team_app = '''SELECT * FROM team_appearance'''
run_query(read_team_app).head()

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,18840417CNU0,0,UA,2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALT,18840418CNU0,0,UA,2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALT,18840419CNU0,0,UA,6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALT,18840424SLU0,0,UA,2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALT,18840426SLU0,0,UA,3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#check max data, untuk mengetahui jika ada error
q = """
SELECT * FROM team_appearance
WHERE game_id = (
                 SELECT MAX(game_id) from game
                )
"""

run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,MIA,20161002WAS0,0,NL,7,000230020,38,14,1,1,2,7,1,0,0,3,2,10,1,1,1,0,8,7,10,10,1,0,24,11,0,0,1,0
1,WAS,20161002WAS0,1,NL,10,03023002x,30,10,2,0,1,10,1,1,1,8,0,3,2,0,1,0,7,6,7,7,1,0,27,11,0,0,1,0

## person appearance

sama seperti sebelumnya , menggunakan union, cuma lebih kompleks karena tergantung dari columnya di game_log

In [26]:
drop = '''DROP TABLE IF EXISTS person_appearance'''
run_command(drop)

#create table
person_app_query = '''CREATE TABLE IF NOT EXISTS person_appearance(
                        appearance_id INTEGER PRIMARY KEY,
                        person_id TEXT,
                        team_id TEXT,
                        game_id TEXT,
                        appearance_type_id TEXT,
                        FOREIGN KEY (person_id) REFERENCES person(person_id),
                        FOREIGN KEY (team_id) REFERENCES team(team_id),
                        FOREIGN KEY (game_id) REFERENCES game(game_id),
                        FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
                    );'''
run_command(person_app_query)

#insert the table
insert_person_app = '''INSERT OR IGNORE INTO person_appearance (
                        game_id,
                        team_id,
                        person_id,
                        appearance_type_id
                    )
                        SELECT
                            game_id,
                            NULL,
                            hp_umpire_id,
                            "UHP"
                        FROM game_log
                        WHERE hp_umpire_id IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            NULL,
                            [1b_umpire_id],
                            "U1B"
                        FROM game_log
                        WHERE [1b_umpire_id] IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            NULL,
                            [2b_umpire_id],
                            "U2B"
                        FROM game_log
                        WHERE [2b_umpire_id] IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            NULL,
                            [3b_umpire_id],
                            "U3B"
                        FROM game_log
                        WHERE [3b_umpire_id] IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            NULL,
                            lf_umpire_id,
                            "ULF"
                        FROM game_log
                        WHERE lf_umpire_id IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            NULL,
                            rf_umpire_id,
                            "URF"
                        FROM game_log
                        WHERE rf_umpire_id IS NOT NULL
                        
                    UNION
                        
                        SELECT
                            game_id,
                            v_name,
                            v_manager_id,
                            "MM"
                        FROM game_log
                        WHERE v_manager_id IS NOT NULL
                        
                    UNION
                    
                        SELECT
                            game_id,
                            h_name,
                            h_manager_id,
                            "MM"
                        FROM game_log
                        WHERE h_manager_id IS NOT NULL
                        
                    UNION
                        
                        SELECT
                            game_id,
                            CASE
                                WHEN h_score > v_score then h_name
                                ELSE v_name
                            END,
                            winning_pitcher_id,
                            "AWP"
                        FROM game_log
                        WHERE winning_pitcher_id IS NOT NULL
                        
                    UNION
                    
                        SELECT
                            game_id,
                            CASE
                                when h_score < v_score then h_name
                                ELSE v_name
                            END,
                            losing_pitcher_id,
                            "ALP"
                        FROM game_log
                        WHERE losing_pitcher_id IS NOT NULL
                    
                    UNION
                    
                        SELECT
                            game_id,
                            CASE
                                when h_score > v_score then h_name
                                ELSE v_name
                            END,
                            saving_pitcher_id,
                            "ASP"
                        FROM game_log
                        WHERE saving_pitcher_id IS NOT NULL
                        
                    UNION
                        
                        SELECT
                            game_id,
                            CASE
                                when h_score > v_score then h_name
                                ELSE v_name
                            END,
                            winning_rbi_batter_id,
                            "AWB"
                        FROM game_log
                        WHERE winning_rbi_batter_id IS NOT NULL
                    
                    UNION
                        
                        SELECT
                            game_id,
                            v_name,
                            v_starting_pitcher_id,
                            "PSP"
                        FROM game_log
                        WHERE v_starting_pitcher_id IS NOT NULL
                        
                    UNION
                    
                        SELECT
                            game_id,
                            h_name,
                            h_starting_pitcher_id,
                            "PSP"
                        FROM game_log
                        WHERE h_starting_pitcher_id IS NOT NULL;
                    '''
run_command(insert_person_app)

#untuk defensive player dan player yang ada nomornya, kita bisa membuat template dasarnya, lalu membuat loop untuk setiap team 
#dan setiap column yang ada nomornya
template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

#loop the column
for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        run_command(template.format(**query_vars))

In [29]:
#check the data
q = """
SELECT
    pa.*,
    at.name,
    at.category
FROM person_appearance pa
INNER JOIN appearance_type at on at.appearance_type_id = pa.appearance_type_id
WHERE PA.game_id = (
                   SELECT max(game_id)
                    FROM person_appearance
                   )
"""

run_query(q)

,appearance_id,person_id,team_id,game_id,appearance_type_id,name,category
0,1646107,kellj901,None,20161002WAS0,U3B,Third Base,umpire
1,1646108,onorb901,None,20161002WAS0,U2B,Second Base,umpire
2,1646109,porta901,None,20161002WAS0,U1B,First Base,umpire
3,1646110,tumpj901,None,20161002WAS0,UHP,Home Plate,umpire
4,1646111,brica001,MIA,20161002WAS0,ALP,Losing Pitcher,award
5,1646112,koeht001,MIA,20161002WAS0,PSP,Starting Pitcher,pitcher
6,1646113,mattd001,MIA,20161002WAS0,MM,Manager,manager
7,1646114,baked002,WAS,20161002WAS0,MM,Manager,manager
8,1646115,difow001,WAS,20161002WAS0,AWB,Winning RBI Batter,award
9,1646116,melam001,WAS,20161002WAS0,ASP,Saving Pitcher,award
10,1646117,schem001,WAS,20161002WAS0,AWP,Winning Pitcher,award
11,1646118,schem001,WAS,20161002WAS0,PSP,Starting Pitcher,pitcher
12,1927793,turnt001,WAS,20161002WAS0,D8,Center Field,defense
13,1927794,turnt001,WAS,20161002WAS0,O1,Batter 1,offense
14,2209469,reveb001,WAS,20161002WAS0,D7,Left Field,defense
15,2209470,reveb001,WAS,20161002WAS0,O2,Batter 2,offense
16,2491145,harpb003,WAS,20161002WAS0,D9,Right Field,defense
17,2491146,harpb003,WAS,20161002WAS0,O3,Batter 3,offense
18,2772821,zimmr001,WAS,20161002WAS0,D3,1st Base,defense
19,2772822,zimmr001,WAS,20161002WAS0,O4,Batter 4,offense
20,3054497,drews001,WAS,20161002WAS0,D5,3rd Base,defense
21,3054498,drews001,WAS,20161002WAS0,O5,Batter 5,offense
22,3336173,difow001,WAS,20161002WAS0,D4,2nd Base,defense
23,3336174,difow001,WAS,20161002WAS0,O6,Batter 6,offense
24,3617849,espid001,WAS,20161002WAS0,D6,Shortstop,defense
25,3617850,espid001,WAS,20161002WAS0,O7,Batter 7,offense
26,3899525,lobaj001,WAS,20161002WAS0,D2,Catcher,defense
27,3899526,lobaj001,WAS,20161002WAS0,O8,Batter 8,offense
28,4181201,schem001,WAS,20161002WAS0,D1,Pitcher,defense
29,4181202,schem001,WAS,20161002WAS0,O9,Batter 9,offense
30,4462877,gordd002,MIA,20161002WAS0,D4,2nd Base,defense
31,4462878,gordd002,MIA,20161002WAS0,O1,Batter 1,offense
32,4744553,telit001,MIA,20161002WAS0,D2,Catcher,defense
33,4744554,telit001,MIA,20161002WAS0,O2,Batter 2,offense
34,5026229,pradm001,MIA,20161002WAS0,D5,3rd Base,defense
35,5026230,pradm001,MIA,20161002WAS0,O3,Batter 3,offense
36,5307905,yelic001,MIA,20161002WAS0,D8,Center Field,defense
37,5307906,yelic001,MIA,20161002WAS0,O4,Batter 4,offense
38,5589581,bourj002,MIA,20161002WAS0,D3,1st Base,defense
39,5589582,bourj002,MIA,20161002WAS0,O5,Batter 5,offense
40,5871257,scrux001,MIA,20161002WAS0,D7,Left Field,defense
41,5871258,scrux001,MIA,20161002WAS0,O6,Batter 6,offense
42,6152933,hoodd001,MIA,20161002WAS0,D9,Right Field,defense
43,6152934,hoodd001,MIA,20161002WAS0,O7,Batter 7,offense
44,6434609,hecha001,MIA,20161002WAS0,D6,Shortstop,defense
45,6434610,hecha001,MIA,20161002WAS0,O8,Batter 8,offense
46,6716279,koeht001,MIA,20161002WAS0,D1,Pitcher,defense
47,6716280,koeht001,MIA,20161002WAS0,O9,Batter 9,offense

## Remove the original table

data original yang tidak sesuai schema dihapus

In [38]:
table = ['game_log', 'park_codes', 'team_codes', 'person_codes']


for c in table:
    drop_query = '''DROP TABLE IF EXISTS {0}'''.format(c)
    run_command(drop_query)

In [39]:
show_table()

                name   type
0             person  table
1               park  table
2            leagues  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table